.color-primary * {
  color: #3a3a3a !important;
}

.color-primary-accent * {
  color: #32b990 !important;
}

.color-primary-accent-2 * {
  color: #da0000 !important;
}

.color-secondary * {
  color: #5c5c5c !important;
}

.color-primary {
  color: #3a3a3a !important;
}

.color-primary-accent {
  color: #32b990 !important;
}

.color-primary-accent-2 {
  color: #da0000 !important;
}

.color-secondary {
  color: #5c5c5c !important;
}

.green {
  color: #2dae7d;
}

.grey {
  color: #9b9b9b;
}

.blue {
  color: #5dc719;
}

.red {
  color: #d0492e;
}

.display-inline-block {
  display: inline-block;
}

.display-table {
  display: table;
}

.display-block {
  display: block;
}

.full-height {
  height: 100%;
}
