body {
  height: auto;
  min-height: 100%;
}

.body-container {
  top: 0;
  transform: none;
}

header.main {
  position: absolute;
}

header.menu {
  width: 100%;
  height: 115px;
  float: none;
}

section.wrapper {
  padding-left: 0;
  width: 100%;
  top: 0;
}

header.menu ul {
  width: 100%;
  padding-left: 200px;
}

header.menu ul li {
  height: 100%;
  width: auto;
  display: inline-block;
  padding: 0;
  margin: 0em 1em;
}

header.menu ul li a {
  padding: 0;
  display: table;
}

header.menu ul li a h3 {
  height: 100%;
  line-height: 100%;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

header.menu ul li p {
  display: none;
}

.page-home ul.labels {
  width: 70%;
}

.responsive-ul > li {
  width: 50%;
}

.grid > li {
  width: 33.333%;
}

@media screen and (min-width: 961px) and (max-width: 1279px){

  header.main {
    height: 100px;
  }

  .header-container .logo {
    width: 17%;
    padding: 36px 0 0 0;
  }

  header.menu {
    height: 100px;
  }

  header.menu ul {
    padding-left: 278px;
  }

  header.menu ul li {
    margin: 0 6% 0 0;
  }

  header.menu ul li a h3 {
    padding-top: 6px;
    font-size: 16px;
  }

    /* Home section styles */

  .page-home .slogan {
    padding: 5% 5% 2% 6.5%;
  }

  .slogan h1 {
    font-size: 60px;
    line-height: 1;
  }

  .page-home ul.labels {
    margin: 0;
    padding: 2% 14% 2% 6.5%;
  }

  .page-home ul.labels li {
    height: auto;
    margin: 0;
    width: 45%;
    margin-bottom: 16px;
  }

  ul.labels li.label-first {
    margin-right: 9.5%;
  }

  .page-home ul.labels li + li {
    
  }

  .info-container {
    margin-left: 10px;
    padding-top: 5px;
  }

  .info-container h3 {
    font-size: 16px;
    letter-spacing: 1.3px;
  }

  .btn-container {
    padding: 2% 43% 4.5% 7%;
  }

  .page .btn {
    font-size: 15px;
    width: 215px;
    margin: 0;
    padding: 25px 0 20px 0;
  }

  .page .btn-first {
    margin-right: 6%;
  }


}
