.page-team .name {
  color: rgb(237, 103, 58);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12pt;
}

.members {
  padding: 0;
}

.members > li {
  height: 50%;
  display: inline-table;
  margin-left: -3px;
  margin-bottom: -5px;
  padding: 20px;
}

.members > li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.page-team .social-icons > li {
  margin-right: 0;
}