.header {
  background-color: white;
  width: 100%;
}

.header-menu {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  position: absolute;
  left: 50%;
}

.header-menu li {
  font-weight: 600;
  font-size: 11pt;
  display: inline-block;
  margin: 20px;
}

.header-menu li:first-child {
  margin-left: 0;
}

.header-menu li a {
  cursor: pointer;
  text-decoration: none;
}

.logo {
  font-size: 15pt;
  display: inline-block;
  margin: 20px 0 20px 8%;
  float: left;
}

.hire {
  display: inline-block;
  margin: 20px 8% 20px 0;
  float: right;
}

.hire a {
  cursor: pointer;
  text-decoration: none;
  font-size: 11.5pt;
}

.hire a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #da0000;
}

.header-section {
  background-color: #eee;
  font-size: 78pt;
  padding-left: 16%;
  display: table;
  width: 100%;
}

.slogan {
  display: table-cell;
  vertical-align: middle;
}

.why .graph-wrapper {
  height: 400px;
}

.why .title {
  font-size: 30pt;
  text-align: center;
  margin: 90px;
}

.why .left {
  width: 45%;
  margin-right: -4px;
  position: relative;
  float: left;
  height: 100%;
}

.why .midd {
  width: 10%;
  margin-right: -4px;
  height: 100%;
}

.why .right {
  width: 45%;
  position: relative;
  float: right;
  height: 100%;
}

.why .article {
  font-size: 20pt;
  width: 80%;
  position: absolute;
}

.why .article .display-block {
  font-size: 25pt;
}

.why .left .article {
  right: 0;
  padding-right: 30px;
}

.why .right .article {
  left: 0;
  padding-left: 30px;
}

.why .article.first {
  top: 0;
}

.why .article.second {
  top: 250px;
}
