body {
	font-family: franklin-gothic-demi !important;
  padding-top: 70px;
  margin:0;
  height:100vh;
  width:100vw;
}
.header {
  background-color: white;
  height: 70px;
  position: fixed;
  top: 0;
  transition: top 0.3s ease-out;
  width: 100%;
}
.scroll-up {
    top: -70px;
}
.header-menu {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  position: absolute;
  left: 50%;
}

.header-menu li {
  font-weight: 600;
  font-size: 11pt;
  display: inline-block;
  margin: 25px;
}

.header-menu li:first-child {
  margin-left: 0;
}

.header-menu li a {
  cursor: pointer;
  text-decoration: none;
}

.logo {
  font-size: 15pt;
  display: inline-block;
  margin: 20px 0 20px 8%;
  float: left;
}

.hire {
  display: inline-block;
  margin: 25px 8% 25px 0;
  float: right;
}

.hire a {
  cursor: pointer;
  text-decoration: none;
  font-size: 11.5pt;
}

.hire a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #da0000;
}

.header-section {
  background-color: #eee;
  font-size: 78pt;
  padding-left: 16%;
  display: table;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}

.slogan {
  display: table-cell;
  vertical-align: middle;
}

.why .graph-wrapper {
  height: 400px;
}

.why .title {
  font-size: 30pt;
  text-align: center;
  margin: 90px;
}

.why .left {
  width: 45%;
  margin-right: -4px;
  position: relative;
  float: left;
  height: 100%;
}

.why .midd {
  width: 10%;
  margin-right: -4px;
  height: 100%;
}

.why .right {
  width: 45%;
  position: relative;
  float: right;
  height: 100%;
}

.why .article {
  font-size: 20pt;
  width: 80%;
  position: absolute;
}

.why .article .display-block {
  font-size: 25pt;
}

.why .left .article {
  right: 0;
  padding-right: 30px;
}

.why .right .article {
  left: 0;
  padding-left: 30px;
}

.why .article.first {
  top: 0;
}

.why .article.second {
  top: 250px;
}
