body {
  font-family: 'Libre Franklin', sans-serif !important;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: url('/img/bgr_main.png') fixed !important;
}

.bgr-layer {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  height: 100%;
  background: rgba(42, 40, 70, 0.92);
}

.body-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header.main {
  position: relative;
  height: 115px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.header-container {
  position: relative;
  width: 90%;
  min-height: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 100px;
  margin-right: 0;
  margin-left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  float: left;
}

.social-icons {
  position: absolute;
  top: 40px;
  right: 15px;
  list-style: none;
  margin: 0;
}

.social-icons > li {
  float: left;
}

.social-icons > li:last-child i {
  padding-right: 0;
}

.social-icons i {
  padding: 0 4px;
}

.icon-vk:before {
  content: url(/img/ic_vk.png);
}

.icon-facebook:before {
  content: url(/img/ic_fb.png);
}

.icon-twitter:before {
  content: url(/img/ic_twitter.png);
}

header.menu {
  height: 100%;
  float: left;
  width: 360px;
  z-index: 1000;
  position: relative;
}

.menu-active-tab {
  background: url(/img/bgr_nav_selected.png) no-repeat;
}

section.wrapper {
  position: relative;
  height: 100%;
  padding-left: 360px;
}

section.stripe {
  display: none;
}

header.menu ul {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.menu ul li {
  max-width: 220px;
  margin: auto;
  padding: 0.5em 1em;
  height: 115px;
}

header.menu ul li a {
  display: block;
  padding: 0.5em 1em;
}

header.menu ul li p:first-child {
  font-weight: 900;
}

.page-home .slogan {
  font-size: 70px;
  font-weight: bold;
  color: rgb(237, 103, 58);
}

.page-home ul.labels {
  width: 960px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-home ul.labels li {
  height: 100px;
  display: inline-block;
  width: 25%;
  margin-left: -3px;
  margin-bottom: -5px;
  padding-left: 64px;
  background-repeat: no-repeat !important;
}

.page-home ul.labels li h2 {
  font-size: 16pt;
  color: white;
}

.page-home ul.labels li p {
  color: lightgray;
}

@media (max-width: 1320px) {
  .page-home ul.labels {
    width: 90%;
  }
}
