body {
  height: auto;
  min-height: 100vh;
}

.body-container {
  top: 0;
  transform: none;
}

header.main {
  position: absolute;
}

header.menu {
  width: 100%;
  height: 115px;
  float: none;
}

section.wrapper {
  padding-left: 0;
  width: 100%;
  top: 0;
}

header.menu ul {
  width: 100%;
  padding-left: 200px;
}

header.menu ul li {
  height: 100%;
  width: auto;
  display: inline-block;
  padding: 0;
  margin: 0em 1em;
}

header.menu ul li a {
  padding: 0;
  display: table;
}

header.menu ul li a h3 {
  height: 100%;
  line-height: 100%;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

header.menu ul li p {
  display: none;
}

.page-home ul.labels {
  width: 70%;
}

.responsive-ul > li {
  width: 50%;
}

.grid > li {
  width: 33.333%;
}
