.members > li {
  margin: 0 0 25px;
  padding: 0;
}

.members .social-icons {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 980px) {

  .page-team {
    max-width: 100%;
    padding: 0 5%;
  }

  .members {
    padding: 15px 0 0 0;
  }

  .members > li {
    width: 100%;
    margin-bottom: 9.35%;
  }

  .members.grid li p,
  .members.grid li .social-icons {
    text-align: left;
  }

  .members.grid li .name {
    text-align: left;
    margin: 0;
  }

  .avatar-container {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 8.5% 0 2.5%;
  }

  .avatar-container img {
    max-width: 100%;
  }

  .member-info {
    display: inline-block;
    vertical-align: top;
    width: 65%;
  }
  .page-team .name {
    font-size: 12px;
    font-size: 0.857rem;
    letter-spacing: 0.1px;
  }

  .member-info p {
    font-size: 14px;
    font-size: 1rem;
    margin: 0;
    padding-top: 5px;
  }

  .page-team .social-icons {
    padding: 0.285714rem 0 0 0;
  }

  .page-team .social-icons > li {
    width: 2rem;
    height: 2.285714rem;
  }

  .page-team .social-icons > li + li {
    margin-left: 1rem;
  }

}

@media screen and (max-width: 768px) {
  .members.grid > li {
    width: 100%;
  }
}
