
html {
  font-size: calc( 14px + (40 - 14) * (100vw - 320px) / (980 - 320) ) !important;
}

.mobile-visible {
  display: initial;
}

header.main {
  position: static;
  height: auto;
}

.header-container {
  min-height: 70px;
}

.logo {
  position: absolute;
  float: none;
  padding: 0;
  width: 65px;
  height: auto;
  margin-left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

.logo > img {
  max-width: 100%;
}

a.btn-hire {
  display: initial;
  position: absolute;
  right: 5%;
  color: rgb(237, 103, 58);
  font-size: 10pt;
  text-transform: uppercase;
  top: 35px;
  font-family: PeaceSans, sans-serif;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}

a.btn-hire:focus {
  color: rgb(237, 103, 58);
  text-decoration: none;
}

a.btn-hire:visited, a.btn-hire:hover{
  color: rgb(237, 103, 58);
  text-decoration: none;
  outline: none;
}

header.menu {
  display: none;
}

section.wrapper {
  padding: 0;
}

section.stripe {
  display: block;
}

.page-home ul.labels {
  width: 70%;
}

.responsive-ul > li {
  width: 100%;
}

.grid > li {
  width: 50%;
}

.mobile-hidden {
  display: none;
}

section.wrapper section {
  display: block !important;
}

.page {
  font-size: 12px;
}

.page h1 {
  font-size: 21pt;
}

.section-title {
  margin: 45px auto 15px;
  text-align: center;
}

.section-description {
  color: rgb(255, 255, 255) !important;
  font-size: 22px !important;
  text-transform: uppercase;
}

.page-home {
  width: 100%;
  max-width: 100% !important;
  padding: 0 5%;
}

.page-home .slogan > h1 {
  font-size: 28px;
  font-size: 2rem;
  margin-top: 12px;
  padding-left: 4%;
  letter-spacing: 1.3px;
}

.page-home ul.labels {
  max-width: 100%;
  margin: -1px 0 0;
  width: 100%;
}

.page-home ul.labels li {
  height: auto;
  padding: 0;
  margin: 0;
  padding-left: 3%;
  padding-top: 20px;
  margin-bottom: 17px;
}

.page-home ul.labels li + li {
  padding-top: 5px;
}

.info-container {
  width: 65%;
  margin-bottom: 10px;
}

li + li .info-container {
  margin-bottom: 0;
}

.info-container h3 {
  margin: 0;
  margin-bottom: 3px;
}

.info-container > h3 {
  font-size: 14px;
}

.info-container p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  padding-top: 0px;
}

.btn-control-group li {
  width: 46.5%;
  min-width: 46.5%;
  padding: 10px;
  margin-right: 0;
}
.btn-control-group li + li {
  margin-left: 5%;
}

.page .btn {
  font-size: 10pt;
}

a.btn {
  width: 45.9%;
  margin: 0;
  padding: 11px 0;
}

a.btn-first {
  margin-right: 6.5%;
}

.page-home .btn-control-group {
  margin-top: 50px;
}