body {
  height: auto;
  min-height: 100%;
}

.body-container {
  top: 0;
  transform: none;
}

header.main {
  position: absolute;
}

header.menu {
  width: 100%;
  height: 115px;
  float: none;
}

section.wrapper {
  padding-left: 0;
  width: 100%;
  top: 0;
}

header.menu ul {
  max-width: 100%;
  padding-left: 0;
}

header.menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0em 1em;
}

header.menu ul li a {
  padding: 0;
  text-align: center;
}

header.menu ul li a h3 {
  height: 100%;
  line-height: 100%;
  margin: 0;
  vertical-align: middle;
}

header.menu ul li p {
  display: none;
}

.page-home ul.labels {
  width: 70%;
}

.responsive-ul > li {
  width: 50%;
}

.grid > li {
  width: 33.333%;
}

@media screen and (min-width: 961px) and (max-width: 1279px){

  header.main {
    height: 100px;
  }

  .header-container .logo {
    width: 17%;
    padding: 36px 0 0 0;
  }

  .header-container .social-icons {
    top: 43px;
  }

  header.menu {
    height: 100px;
    padding-left: 22%;
    padding-right: 21%;
  }

  header.menu ul {
    width: auto;
    margin: 0 auto;
    padding-top: 43px;
  }

  header.menu ul li {
    margin: 0;
  }

  header.menu ul li + li {
    margin-left: 46px;
  }

  header.menu a {
    height: auto;
  }

  header.menu a.selected {
    background: none;
  }

  header.menu a:hover {
    background: none;
  }

  header.menu ul li a h3 {
    padding-top: 6px;
    font-size: 20px;
    color: rgb(151, 150, 159);
  }

  header.menu ul li a[href="#hire"] h3 {
    color: rgb(146, 75, 71);
  } 

  header.menu ul li a.selected h3 {
    color: rgb(255, 255, 255);
  }

  header.menu ul li a[href="#hire"].selected h3 {
    color: rgb(237, 103, 58);
  }

  header.main .social-icons {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.8554% 3.5%;
  }

  footer .footer-copyright {
    width: 25%;
  }

  footer .footer-copyright p {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 3.3195% 0 0;
  }

  footer .footer-copyright p br {
    display: none;
  }

  footer .social-icons {
    width: 16.5%;
    margin: 0;
    padding: 0;
  }

  footer .social-icons > li {
    width: 22%;
    height: 16%;
  }

  footer .social-icons li + li {
    margin-left: 16%;
  }

    /* Home section styles */

  .page-home .slogan {
    padding: 5% 5% 2% 6.5%;
  }

  .slogan h1 {
    font-size: 60px;
    line-height: 1;
  }

  .page-home ul.labels {
    margin: 0;
    padding: 2% 14% 2% 6.5%;
  }

  .page-home ul.labels li {
    height: auto;
    margin: 0;
    width: 45%;
    margin-bottom: 16px;
  }

  ul.labels li.label-first {
    margin-right: 9.5%;
  }

  .page-home ul.labels li + li {
    
  }

  .info-container {
    margin-left: 10px;
    padding-top: 5px;
  }

  .info-container h3 {
    font-size: 16px;
    letter-spacing: 1.3px;
  }

  .btn-container {
    padding: 2% 43% 4.5% 7%;
  }

  .page .btn {
    font-size: 15px;
    width: 215px;
    margin: 0;
    padding: 25px 0 20px 0;
  }

  .page .btn-first {
    margin-right: 6%;
  }


}
