header.main {
  position: absolute;
}

header.menu {
  width: 100%;
  height: 115px;
  float: none;
}

section.wrapper {
  padding-left: 0;
  padding-top: 115px;
  position: absolute;
  width: 100%;
  top: 0;
}

header.menu ul {
  width: 50%;
  margin-left: 180px;
}

header.menu ul li {
  height: 100%;
  width: auto;
  display: inline-block;
}


header.menu ul li p {
  display: none;
}

.page-home ul.labels {
  width: 70%;
}

.page-home ul.labels li {
  width: 50%;
}
