.members > li {
  margin: 0 0 25px;
  padding: 0;
}

.members .social-icons {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 980px) {

  .page-team{
    max-width: 100%;
    padding: 0 5%;
  }

  .page-team .section-title {
    margin: 0;
  }

  .members {
    padding: 15px 0 0 0;
  }

  .members > li {
    margin-bottom: 27px;
  }

  .members.grid li p,
  .members.grid li .social-icons {
    text-align: left;
  }

  .members.grid li .name {
    text-align: left;
    margin: 0;
  }

  .avatar-container {
    display: inline-block;
    vertical-align: top;
    width: 56px;
    margin: 0 25px 0 8px;
  }

  .avatar-container img {
    max-width: 100%;
  }

  .member-info {
    display: inline-block;
    vertical-align: top;
    width: 65%;
  }
  .page-team .name {
    font-size: 12px;
    letter-spacing: 0.1px;
  }

  .member-info p {
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
  }

}

@media screen and (max-width: 768px) {
  .members.grid > li {
    width: 100%;
  }
}
