@font-face {
  font-family: ProximaNova;
  src: url("/fonts/proxima_regular.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("/fonts/proxima_bold.otf") format("opentype");
}

@font-face {
  font-family: PeaceSans;
  src: url("/fonts/peace_sans.otf") format("opentype");
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: ProximaNova, sans-serif !important;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mobile-visible {
  display: none;
}

p {
  color: rgb(194, 194, 194);
  font-size: 12pt;
}

.gray-text {
  color: rgb(194, 194, 194);
}

.orange-underlined {
  color: rgb(237, 103, 58);
  text-decoration: underline;
}

.bgr-img-layer {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  height: 100%;
  background: url('/img/bgr_main.jpg') no-repeat fixed !important;
  background-size: cover !important;
}

.bgr-layer {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  height: 100%;
  background: rgba(42, 40, 70, 0.92);
}

.body-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header.main {
  position: relative;
  height: 115px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.header-container {
  position: relative;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 100px;
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  float: left;
  text-align: center;
}

.header-container .social-icons {
  width: 25%;
  position: absolute;
  top: 40px;
  right: 0;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons > li {
  display: inline-table;
  margin-right: 15px;
}

.social-icons > li:last-child i {
  padding-right: 0;
}

.social-icons i {
  padding: 0 4px;
}

.icon-vk:before {
  content: url(/img/ic_vk.png);
}

.icon-facebook:before {
  content: url(/img/ic_fb.png);
}

.icon-twitter:before {
  content: url(/img/ic_twitter.png);
}

.btn-hire {
  display: none;
}

header.menu {
  height: 100%;
  float: left;
  width: 25%;
  z-index: 1000;
  position: relative;
}

section.wrapper {
  position: relative;
  height: 100%;
  width: 75%;
  display: inline-block;
}

section.wrapper section {
  display: none;
}

section.stripe {
  display: none;
}

header.menu ul {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.menu ul li {
  margin: auto;
  padding: 0.5em 1em;
}

header.menu ul li p:first-child {
  font-weight: 900;
}

header.menu h3 {
  font-family: PeaceSans, sans-serif;
  color: white;
}

header.menu a {
  display: block;
  margin: auto auto;
  max-width: 230px;
  height: 115px;
  padding: 0.1em 80px 0.5em 2em;
  text-decoration: none;
}

header.menu a:hover {
  background: url(/img/bgr_nav_selected.png) no-repeat;
}

header.menu a.selected {
  background: url(/img/bgr_nav_selected.png) no-repeat;
}

footer {
  position: relative;
  padding: 2px 0 0 12px;
}

footer .footer-copyright {
  float: left;
  width: 50%;
}

footer .footer-copyright > p {
  font-size: 13px;
  line-height: 1.65;
}

footer .social-icons {
  float: left;
  width: 50%;
  padding: 4px 0 0 7px;
}

footer .social-icons > li {
  margin: 0;
}

footer .social-icons > li + li {
  margin-left: 7px;
}

.page h1 {
  font-family: PeaceSans, sans-serif;
  color: rgb(237, 103, 58);
  font-size: 64pt;
}

.page h3 {
  font-family: PeaceSans, sans-serif;
  color: white;
  font-size: 14pt;
}

.page-home .slogan {
  max-width: 800px;
}

.page-home ul.labels {
  width: 960px;
  list-style-type: none;
  padding: 0;
  margin: 50px 0 70px 0;
}

.page-home ul.labels li {
  height: 100px;
  margin-left: -3px;
  margin-bottom: -5px;
}

.icon {
  background-repeat: no-repeat !important;
  background-position: center center;
  width: 40px;
  height: 40px;
}

.mobile-icon {
  background-image: url('/img/ic_mobile.png');
}
.web-icon {
  background-image: url('/img/ic_web.png');
}
.test-icon {
  background-image: url('/img/ic_testing.png');
}
.maintenance-icon {
  background-image: url('/img/ic_maintainance.png');
}

.responsive-ul > li {
  display: inline-table;
  table-layout: fixed;
  width: 25%;
}

.image-container, .info-container {
  display: inline-block;
  vertical-align: top;
}

.info-container {
  width: 74%;
  margin-left: 15px;
}

.info-container > h3 {
  text-transform: uppercase;
  margin-top: 0;
}

.grid > li {
  display: inline-table;
  table-layout: fixed;
  width: 25%;
}

.page-home ul.labels li h2 {
  font-size: 16pt;
  color: white;
}

.btn-control-group {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0;
  color: white;
  font-weight: bold;
}

.btn-control-group li {
  padding: 16px;
  min-width: 200px;
  text-align: center;
  background: rgb(237, 103, 58);
  border-radius: 0;
  margin-right: 20px;
}

.btn-container {

}

.page .btn-secondary {
  background: rgba(255, 255, 255, 0.2) !important;
}

.page .btn {
  font-family: PeaceSans, sans-serif;
  font-size: 14pt;
}

.btn-secondary button {
  background: none;
  border: none;
  outline: none;
}

.btn button {
  background: none;
  border: none;
  outline: none;
}

a.btn, button.btn {
  background: rgb(237, 103, 58);
  border: none;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-family: PeaceSans, sans-serif;
  font-size: 14pt;
  line-height: 14pt;
  font-weight: 400;
  height: auto;
  width: 200px;
  text-align: center;
  letter-spacing: .5px;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 11px;
}

.btn-secondary:hover, .btn-secondary button:hover, button.btn-secondary:hover, a.btn-secondary:hover {
  color: rgb(237, 103, 58);
}

.btn-secondary:focus, a.btn-secondary:focus {
  color: rgb(237, 103, 58);
  text-decoration: none;
  outline: none;
}

@media (max-width: 1320px) {
  .page-home ul.labels {
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .body-container {
    width: 100%;
    height: 100%;
    max-width: 1680px;
    max-height: 946px;
  }

  .header-container {
    min-height: 125px;
  }

  .logo {
    height: 114px;
    width: 20%;
    padding: 64px 0 0 109px;
    text-align: initial;
  }

  .logo img {
    max-width: 100%;
  }

  .header-container .social-icons {
    width: 13.4%;
    top: 70px;
    text-align: initial;
  }

  .social-icons > li {
    margin-right: 17px;
  }

  header.menu {
    width: 18%;
  }

  header.menu ul {
    margin: 0;
    padding: 51px 0 0 30%;
  }

  header.menu ul li {
    padding: 0;
    width: 200px;
  }

  header.menu a {
    height: auto;
    padding: 21px 0 18px 22px;
  }

  header.menu h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  header.menu p {
    width: 80%;
    font-size: 16px;
  }

  
}
