header.main {
  position: static;
}

header.menu {
  display: none;
}

section.wrapper {
  padding: 0;
  display: none;
}

section.stripe {
  display: block;
}

.page-home ul.labels {
  width: 70%;
}

.page-home ul.labels li {
  width: 100%;
}
