.page-team .name {
  color: rgb(237, 103, 58);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12pt;
}

.members {
  padding: 0;
}

.members > li {
  height: 50%;
  display: inline-table;
  margin-left: -3px;
  margin-bottom: -5px;
  padding: 20px;
}

/*
.members > li:hover {
  background: rgba(0, 0, 0, 0.1);
}
*/

.page-team .social-icons > li {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
	.page-team {
		max-width: 100%;
		margin: auto;
	}
}

@media screen and (min-width: 961px) and (max-width: 1279px) {

  .members {
    padding-top: 16px;
    padding-right: 4%;
  }

  .members > li {
    margin: 0 0 54px 0;
    padding: 0 0 0 11.5%;
    width: 33%;
  }

  .page-team .name {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .member-info p {
    width: 75%;
    font-size: 14px;
  }

}
