.header {
  background-color: white;
}

.header-menu {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  position: absolute;
  left: 50%;
}

.header-menu li {
  font-weight: 600;
  font-size: 11pt;
  display: inline-block;
  margin: 20px;
}

.header-menu li:first-child {
  margin-left: 0;
}

.header-menu li a {
  cursor: pointer;
  text-decoration: none;
  color: #5c5c5c;
}

.logo {
  color: #da0000;
  font-size: 15pt;
  display: inline-block;
  margin: 20px 0 20px 8%;
  float: left;
}

.hire {
  display: inline-block;
  margin: 20px 8% 20px 0;
  float: right;
}

.hire a {
  cursor: pointer;
  text-decoration: none;
  color: #da0000;
  font-size: 11.5pt;
}

.hire a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #da0000;
}